<div class="wrapper">
        <div class="card text-center">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Burger TIme</h5>
                <p class="card-text">Type the name of a burger you want to eat in the form below</p>
                <div class="form-group">

                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <a href="#" class="btn btn-primary">Create Burger</a>
            </div>
            <h2>Available Burgers</h2>
            <ul>
                <li>This is where a burger would go<button type="button" class="btn btn-primary">Eat Burger</button>
                </li>
                <li>This is where a burger would go<button type="button" class="btn btn-primary">Eat Burger</button>
                </li>
                <li>This is where a burger would go<button type="button" class="btn btn-primary">Eat Burger</button>
                </li>
            </ul>

            <br>
            <br>
            <h2>Eaten Burgers</h2>
            <ul>
                <li>This is where eaten burger would go</li>
                <li>This is where eaten burger would go</li>
                <li>This is where eaten burger would go</li>
            </ul>

        </div>
    </div>
